body{
    background-color: #E6E6FA;
    margin: 8rem;
}
.container{
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    animation-name: backdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: 3px dotted;
    border-color: red;

    
    /* margin: 8rem; */

}
#heart {
     /* position:relative;  */
     /* width:100px; 
     height:90px; */
     margin:10px;
     display: flex;
     justify-content: center;
     animation-name: beat;
     animation-duration: 3s;
     animation-iteration-count: infinite; 
}

#heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;
  }

  #heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }  

  #heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Redressed', cursive;
    font-size: 46px;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}
/* .cont-tog{
    text-align: center;
    display: flex;
    font-family: 'Redressed', cursive;
    font-size: 46px;



    animation-name: rainbow;
animation-duration: 5s; */

}

#happy{
/* color: green; */
    animation-name: rainbow;
    /* animation-duration: 5s; */
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    0%{
        color: red;
        top: 0px;
    }
    50%{
        color: white;
        top: 50px;
    }
    100%{
        color: black;
        top: 0px;
    }
}

@keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }


@keyframes beat{
    0% {
        transform: scale(1) rotate(-45deg);
      }
      50% {
        transform: scale(0.6) rotate(-45deg);
      }
  

}

